[user]
	name = Till Kahlbrock
	email = till@jimdo.com
[alias]
	st  = status -sb
    	ci  = commit
    	cim = commit -m
    	br  = branch
    	co  = checkout
	l = log --pretty='%cr : %Cgreen %h %Creset : %Cred %aN <%aE> %n %x09 %s %n'
[push]
	default = current
[color]
    	diff = auto
    	status = auto
    	branch = auto
